[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
gunicorn = "*"
dj-database-url = "==0.5.0"
psycopg2 = "*"
dj3-cloudinary-storage = "*"
urllib3 = "==1.26.15"
pillow = "*"
django-allauth = "*"
django-autoslug = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
