django>=5.2,<6.0
gunicorn
dj-database-url>=2.1
psycopg2-binary
cloudinary
django-cloudinary-storage
whitenoise
urllib3>=2.0
pillow
django-allauth>=0.61
django-autoslug
django-crispy-forms
crispy-bootstrap5
django-active-link
coverage
