{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Hero image section -->
<section class="container-fluid">
    <div class="row">
        <div class="col home p-0">
            <video muted loop autoplay playsinline>
                <source src="{% static 'videos/cat-licks-itself-1080p.mp4' %}" type="video/mp4">
            </video>
            <div class="home-content text-center d-flex flex-column justify-content-center">
                <h1 class="p-5 text-danger">Welcome to Pawse</h1>
                <p class="col-6 mx-auto">... the purrfect destination for cat lovers and coffee enthusiasts alike! Nestled in the heart of the city,
                    Pawse is a charming cat cafe designed to provide a unique and relaxing experience.
                    </p>
                <p class="col-6 mx-auto d-sm-block d-none">
                    Whether you're seeking a moment of tranquility or looking to make new furry friends, Pawse promises an unforgettable 
                    time filled with joy and happiness. Come paws-itively indulge your senses at Pawse!</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials section -->
<section class="container">
    <div class="container box-dark rounded border-0 my-5">

        <div class="row"> 
            <div class="col text-center p-4">
                <h2 class="text-light">Testimonials</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5 p-4 text-center">
            <div class="col">
                <div class="card h-100 testimonial shadow">
                    <div class="card-body d-flex flex-column pt-4">
                        <p class="mb-auto">What a delightful experience! As a cat lover, I couldn't resist visiting Pawse, and it exceeded all my expectations. The cats were so affectionate and playful, and the coffee was simply divine. It felt like a serene escape from the hustle and bustle of the city. I've already become a regular and can't wait to come back for more cuddles and coffee!</p>
                        <hr class="w-25 mx-auto">
                        <p><em>Gloria</em></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 testimonial shadow">
                    <div class="card-body d-flex flex-column pt-4">
                        <p class="mb-auto">"Pawse is a gem in the city! As a coffee enthusiast, I always look for unique cafes, and this one stood out. The coffee was top-notch, and the cat theme added an adorable touch. The staff was incredibly friendly, and the cats were so adorable and well-cared for. It's a fantastic place to unwind and relax. Highly recommended!"</p>
                        <hr class="w-25 mx-auto">
                        <p><em>Andy</em></p>
                    </div>
                </div>
            </div>
            <div class="col d-block d-sm-none d-lg-block">
                <div class="card h-100 testimonial shadow">
                    <div class="card-body d-flex flex-column pt-4">
                        <p class="mb-auto">"I'm not much of a cat person, but Pawse won me over! The cafe had a fantastic ambiance, and the cats added a unique charm to the whole experience. The baristas were friendly and made some of the best lattes I've ever had. Even if you're not a die-hard cat lover, Pawse is worth a visit for the fantastic coffee and the opportunity to experience something different."</p>
                        <hr class="w-25 mx-auto">
                        <p><em>Sarah</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="w-25 mx-auto">

<!-- Find Us section -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-dark text-center my-5">Find Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <iframe title="map" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29131.564087529066!2d18.006961007772897!3d59.32951934187131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f763119640bcb%3A0xa80d27d3679d7766!2sStockholm!5e0!3m2!1sen!2sse!4v1694259212585!5m2!1sen!2sse" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="container box-dark rounded border-0 my-5">

            <div class="row"> 
                <div class="col text-center p-4">
                    <h2 class="text-light">Details</h2>
                </div>
            </div>

            <div class="row d-flex justify-content-between align-items-center">
                <div class="col ">
                    <div class="row row-cols-1 row-cols-lg-2 g-5 p-4 text-center">
                        <div class="col">
                            <div class="card h-100 shadow" id="address">
                                <div class="card-body d-flex flex-column pt-4 justify-content-center">
                                    <h3 class="mb-4 card-title">Contact details</h3>
                                    <p class="mb-4">
                                        <strong>Pawse Cat Cafe</strong><br>
                                        123 Whisker Lane<br>
                                        Kittenville, Purrington 54321<br>
                                        Meowingtonia
                                    </p>
                                    <p>
                                        <i class="fa-solid fa-phone text-danger"></i>   <a href="tel:+461234567">01 - 234 567</a><br>
                                        <i class="fa-solid fa-envelope text-danger"></i>   <a href="mailto:contact@pawsecatcafe.com">contact@pawsecatcafe.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 shadow" id="info">
                                <div class="card-body d-flex flex-column pt-4">
                                    <h3 class="mb-4 card-title">Good to know before your visit</h3>
                                    <p><strong>Reservations: </strong>To ensure your spot, consider making a reservation, especially during busy hours. Walk-ins are welcome, but space may be limited.</p>
                                    <p><strong>Cat Etiquette: </strong>Please be gentle and respectful with our cats. Avoid waking sleeping cats and give them space when needed.</p>
                                    <p><strong>Time Limit: </strong>During peak times, there may be a time limit on visits to accommodate all guests. Please be mindful of others waiting.</p>
                                    <p><strong>Entry Fee: </strong>There is a small entry fee to support our cats' care and cafe maintenance. The fee is 9 € per person and includes the first hot or cold drink for that person.</p>
                                    <p><strong>Age Restrictions: </strong>Some age restrictions may apply. Younger visitors might need adult supervision. Please inquire about specific rules for children.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}