{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Menu section -->
<section class="container">
    <div class="container my-5 box-dark rounded border-0 p-4">
        <div class="row text-center">
            <h1 class="text-light">Menu</h1>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5 p-4">
            {% for category in object_list %}
            <div class="col">
                <div class="card w-100 h-100 shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ category.name }}</h5>
                        <p class="card-text">
                            <ul class="p-1">
                                {% for item in menu_items %}
                                    {% if item.category == category %}
                                        <li class="d-flex flex-column justify-content-between">
                                            <div class="d-flex justify-content-between">
                                                <div class="col">
                                                    <p class="fw-bold text-uppercase text-primary">{{ item.name }}</p>
                                                </div>
                                                <div class="col text-end">
                                                    <p class="fw-bold">{{ item.price }} €</p>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <p>{{ item.description}}</p>
                                                </div>
                                            </div>
                                                
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</section>

{% endblock %}